.input_button {
	border: none;
	margin-top: 2em;
	font-size: 1.3em;
	padding: 0.5em 0.6em;
	background-color: #00f5d4;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	color: #333;
	font-weight: 600;
	border: 2px solid black;
}
