@font-face {
	font-family: 'Press Start 2P';
	src: url('../assets/fonts/PressStart2P-Regular.ttf');
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

.tweakbar_container {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	border: none;
	border-radius: 5px;
	padding: 1em;
	background-color: #00bbf9;
	width: 500px;
}

.tweakbar_container legend {
	font-family: 'Press Start 2P';
	font-size: 2em;
	font-weight: 600;
	color: #fee440;
	-webkit-text-stroke: 1.5px black;
	text-align: center;
}

.tweakbar_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Roboto Mono', monospace;
	margin: 0.3em 0;
}

.tweakbar_row .input_number,
.tweakbar_row select {
	border: none;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
}

.tweakbar_row .input_number:focus,
.tweakbar_row select:focus {
	outline: none;
}

.input_range {
	accent-color: #fee440;
}

@media screen and (max-width: 550px) {
	.tweakbar_container {
		width: auto;
	}
}
